include ChangeLog
include ChangeLog-full
include MANIFEST.in
include COPYING
include README
include TODO
include lazygal.ent
include lazygal.1.xml
include lazygal.conf.5.xml
recursive-include themes *.thtml
recursive-include themes *.css
recursive-include themes *.tcss
recursive-include themes *.png
recursive-include themes *.svg
recursive-include themes *.js
include locale/*.po
include locale/lazygal.pot
include locale/POTFILES.in
include lazygal-setcomment.py
include devscripts/*
include userscripts/*
include lazygaltest/*py
include lazygaltest/sample*.jpg
