/* ============================================================================
Free icons from http://www.axialis.com/free/icons/index.html
Icon set 'Web 2.0 Buttons - Rounded'
========================================================================== */

.image_size ul li:first-child a,
.image_size ul li:first-child span {
    /* Reduced Size Blue.png */
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABa0lEQVQ4jbWTzy5DQRjFf9/MXKpX4mrTWFp7AgmJJcvSLTuxshFrxMID8AxY2FArib3EG3gGRP+oXuR2ZiyqtNU/LJxkkknmO+ebM98ZASic+nxSr+wAWcAxGAp4CsLo4HxVLmXlxOcbcbUIvqPKeXDe/2SLoKS5D8JoWTXiym432Toox5YRJWj5XiNKKMcW+3nHpF7ZNUCmu3Pl1XKzle3rYf7wicm0RgkZ1e3ZeU8u1AMfIRfqlj2nehXYn9b7nvcU+Av+R8C5wR609BB4qDnq755y7AnM4K6PdYuSpoppkW+3J9m7emEqVGwuhMwdlcimFLR109IkR2P6K0wGwHpPw8L6bJrpjGbjrMqoEiy+I2PW05r/F0y7jemM5vrujSglGA2mvbI3lAIpGSXcP1vAsziTYn8p5OV9SBiaKEnh2OWTt1rxsdYg+UxIoIXc+LAJC0E4sSwAhWOXT16fd8D/+jubdHRwsSaXHx0Gh/VDB1fiAAAAAElFTkSuQmCC');
    
    background-attachment: center;
    background-color: transparent;
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 18px;
    padding-bottom:1px;
}

.image_size ul li:last-child a,
.image_size ul li:last-child span {
    /* Full Size Blue.png */
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABfUlEQVQ4ja2TvU4bURCFv5m7C3iXnzXIoabkDZDoaQ0IiYK8QLo8AEiRoEZpUpFISEDLT5mIComCJ6CmoEAW9oawBtl776Xgz5HNmoKRRrqaO+fMnHN1BWBxz1fbWboKTACO4lDgOoyTjf0VOZKFXV/Nm38PwReiareOtn3sCY1QGVbCOJkP8ma61mcitVvH8Zcx4iEDeC4blqXtGyqkawqM9yMYHhS+/c74c34PCJOjhtx5gHHt1Ow85M53p4X03jM3PcRF3XZyO30+WQeNpmVABSMdidBynq3lMX6cZPw6axIYMCIABM+T0zvL6deJN2XM/2xw9c8ThcLMZoNPI9pJ4KnEptCHdg7lSAhUiAflpf4qofgVUZXe9WJY//g4AtN7Q/rdK6AqQi2zvTueopZZVLpYNACpq/ippGSY/X5NJTb/GWrkEZyUDD18rGtYGl1HFKNQjgwt57H+NVvOU44MpsstIYyTdQFY3HHV9t3NKvh3f+cgSjYOPsvRA5e/lhrSvbP0AAAAAElFTkSuQmCC');
    
    background-attachment: center;
    background-color: transparent;
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 18px;
    padding-bottom:1px;
}
