p{
    text-align:center;
}

#image_links{
    padding-left:7em;
    padding-right:7em;
}

#prev_link{
    position:absolute;
    top:50%;
    left:0.1em;
}

#next_link{
    position:absolute;
    top:50%;
    right:0.1em;
}

img {
    border:solid black 1px;
    margin:1em;
}

#image_links p{
    text-align:justify;
}

#footer p {
		text-align:justify;
}

/*
 * vim: ts=4 sw=4 expandtab
 */
